.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #222222;
}
.h1 {
    color: #17324d;
}
.h2 {
    color: #17324d;
}
.h3 {
    color: #2f628f;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-list li {
    float: left;
    border-right-color: #880000;
    border-right-width: 1px;
    border-right-style: solid;
}
.nav-list li a {
    display: block;
    color: rgb(2, 99, 137);
    padding: 20px;
    text-align: center;
    background-color: #17324d;
    text-decoration: none;
}
.nav-list li a:hover {
    background-color: #111111;
}
.nav-list li a.active {
    background-color: #2f628f;
}
.intro {
    background-color: rgb(255, 181, 244);
    margin-top: 30px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 15px;
}
.small-heading {
    color: #2f628f;
    font-weight: bold;
}
.section-space {
    margin-top: 40px;
}
.profile-photo {
    max-width: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: #17324d;
    border-radius: 15px;
}
.about-box {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 15px;
}
.professional-links a {
    margin-right: 20px;
    font-weight: bold;
}
.main-button {
    background-color: #d8fe9b;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.main-button:hover {
    background-color: #2f628f;
    color: white;
}
.project-box {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 15px;
}
.project-image {
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}
.project-button {
    background-color: #17324d;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.project-button:hover {
    background-color: #2f628f;
    color: white;
}
.authenticity {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 15px;
}